/* =================================================================main======================================================= */
@font-face {
    font-family: "YekanBakh-M";
    src: url(../fonts/YekanBakh-Medium.ttf);
}

@font-face {
    font-family: "YekanBakh-H";
    src: url(../fonts/YekanBakh-Hairline.ttf);
}

@font-face {
    font-family: "YekanBakh";
    src: url(../fonts/Yekan.ttf);
}


:root {
    --day1: #0cb8ec;
    --day2: #7be404;
    --day3: #6f8386;
    --primary-color: #F9FAFD;
    --header-container: #ffffff;
    --a: #504f4f;
    --a-hover: #000;
    --t1: #039b56;
    --nth-search-drop: #9DA0AF;
    --nth-search-drop-hover: #F7F7F7;
    --hamberger-menu-hover: #9DA0AF;
    --box-shadow: #ebecee;
    --main-items-border: #dddbdb;
    --bishtar: #0DA05B;
    --des-name: #000;
    --fa-angle-down-back: rgba(255, 253, 253, 0.949);
    --fa-angle-down-box: rgba(255, 253, 253, 1);
    --fa-angle-down-back-hover: rgba(238, 236, 236, 0.39);
    --fa-angle-down-box-hover: rgba(238, 236, 236, 1);
    --footer: #FEFEFE;
    --box-shadow-footer: #ebecee;
    --loader-div-back: #45474b;
}

.dark {
    --day1: #7be404;
    --day2: #0cb8ec;
    --day3: #9b6666;
    --primary-color: #1D1F20;
    --header-container: #444242;
    --a: #ffffff;
    --a-hover: #32e5f1;
    --t1: #fff;
    --nth-search-drop: #fff;
    --nth-search-drop-hover: #32e5f1;
    --hamberger-menu-hover: #0cb8ec;
    --box-shadow: #050505;
    --main-items-border: #75848d;
    --bishtar: #32e5f1;
    --des-name: #d6f789;
    --fa-angle-down-back: rgba(48, 64, 70, 0.949);
    --fa-angle-down-box: rgba(48, 64, 70, 1);
    --fa-angle-down-back-hover: rgba(133, 50, 50, 0.39);
    --fa-angle-down-box-hover: rgba(133, 50, 50, 1);
    --footer: #444242;
    --box-shadow-footer: #050505;
    --loader-div-back: #ffffff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--day3);
}

::-webkit-scrollbar-thumb {
    background: var(--day1);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--day2);
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "YekanBakh-M", sans-serif;
}

body {
    background-color: var(--primary-color);
}

header,
main,
footer {
    display: none;
}

.loader {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

.loader>div {
    width: 20px;
    height: 20px;
    border: 15px solid var(--loader-div-back);
    border-top-color: #0DA05B;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

header {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 68px;
}

.header-container {
    position: fixed;
    width: 100%;
    height: 68px;
    background-color: var(--header-container);
    top: 0;
    box-shadow: 0 0 10px 6px var(--box-shadow);
    z-index: 2;
    display: flex;
    justify-content: space-around;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1090px;
    padding-right: 5px;
    height: 68px;
}

.logo {
    margin-top: 8px;
    margin-left: 120px;
    cursor: pointer;
}

.logo:hover {
    filter: saturate(1.4);
}

.menu {
    position: relative;
    left: 200px;
}

.menu ul {
    position: relative;
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu ul li a {
    font-size: 16px;
    transition: all 0.3s;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--a);
    transition: all 0.3s;
}

.menu ul li a:hover {
    color: var(--a-hover);
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-berger i {
    font-size: 25px !important;
    color: #adabab;
    cursor: pointer;
    display: none;
    padding-top: 5px;
    background-color: #F7F7F7;
    width: 40px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
}

.hamberger-menu i:hover {
    border: 1px solid var(--hamberger-menu-hover);
}

.hamberger-menu i:nth-child(2) {
    position: relative;
    color: #adabab !important;
    margin-right: 0 !important;
    transform: translateY(-10px);
    display: none;
}

.hamberger-menu i:hover:nth-child(2) {
    background-color: var(--nth-search-drop-hover);
}

.search-box input:nth-child(3) {
    padding-left: 13px;
    padding-right: 2rem;
    height: 35px;
    border: 1px solid #d0d1d3;
    border-radius: 10px;
    background-color: #f9fafd;
    outline: none;
}

.search-box input:hover:nth-child(3) {
    background-color: #fff;
}

#toggle {
    display: none;
}

.search-box button {
    background-color: #0DA05B;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 2vh;
}

.search-box button:hover {
    background-color: #039b56;
}

.search-box i:nth-child(2) {
    position: absolute;
    font-size: 13px;
    margin-right: 10px;
    color: #A6A7B2;
    top: 28px;
}

.search-box a>i,
.dropdown i:nth-child(1) {
    position: relative;
    top: 0.5vh;
    font-size: 18px !important;
    color: var(--nth-search-drop);
    margin-right: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s;
    padding-top: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown i:nth-child(1) {
    border-radius: 20% !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--header-container);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px var(--box-shadow);
    z-index: 1;
    top: 40px;
    height: 105px;
    left: 35%;
    border-radius: 5px;
    padding: 8px 10px;
    border: 1px solid var(--main-items-border);
}

.dropdown-content a {
    display: flex;
    color: var(--a);
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content a {
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--nth-search-drop-hover);
}

.search-box i:hover:nth-child(1),
i:hover:nth-child(4) {
    background-color: var(--nth-search-drop-hover);
}

.t1:before {
    position: absolute;
    content: "";
    width: 35px;
    height: 4px;
    background: var(--t1);
    z-index: 1;
    border-start-end-radius: 35%;
    border-top-right-radius: 35%;
    margin-top: 42px;
    cursor: pointer;
}

.t2:before {
    position: absolute;
    content: "";
    width: 35px;
    height: 4px;
    background: var(--t1);
    z-index: 1;
    border-start-end-radius: 35%;
    border-top-right-radius: 35%;
    margin-top: 28px;
    cursor: pointer;
    margin-right: 8px;
}

.hidden-menu {
    display: none;
}

.hidden-menu a {
    transition: 0.3s;
}

.hidden-menu a:hover {
    color: var(--a-hover);
}

.hamberger-menu-item {
    list-style: none;
    background-color: var(--header-container);
    width: 100%;
    z-index: 4;
    position: absolute;
    top: 60px;
    padding: 10px 10px;
    left: 0;
    right: 0;
    transform: translateY(-120%);
    display: none;
    overflow-y: scroll;
}

.hamberger-menu-item img:hover {
    cursor: pointer;
    filter: saturate(1.4);
}

.hamberger-menu-item-logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hamberger-menu-item-logo img:nth-child(1) {
    width: auto;
    height: 42px;
}

.lang-day {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.lang-day img {
    width: 30px !important;
    height: 30px !important;
    border: 3px solid var(--a);
    border-radius: 50%;
    padding: 2px 2px;
}

.lang-day a {
    position: relative;
    left: 10px;
    width: auto;
    height: 35px;
}

.lang-day img:hover {
    border: 3px solid var(--a-hover);
}

.hamberger-menu-item li {
    display: flex;
    padding: 7px 10px;
    cursor: pointer;
    justify-content: space-between;
    line-height: 2;
    transition: all 0.3s;
    text-align: center;
}

.hamberger-menu-item li i {
    display: flex;
    align-items: center;
    color: var(--a);
}

.hamberger-menu-item-social {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #6e6d6d;
}

.hamberger-menu-item-social i {
    padding: 10px;
}

.hamberger-menu-item li:hover {
    background: var(--nth-search-drop-hover);
    border-radius: 10px;
}

#toggle:checked~header .header-container nav .hamberger-menu-item {
    transform: translateY(0);
}

#toggle:checked~header .header-container nav .hamberger-menu-item {
    height: 90%;
}

#toggle:checked~header .header-container nav .logo {
    display: block;
}

/* =================================================================main======================================================= */
main {
    height: max-content;
    margin-top: 2vh;
}

.sizee {
    width: 1080px;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-items {
    border: 1px solid var(--main-items-border);
    border-radius: 8px;
    background-color: var(--header-container);
    width: 1080px;
}

.main-items-resize {
    display: flex !important;
}

.programs {
    padding: 17px 28px;
    font-size: 15px;
    margin-bottom: 15px;
    color: var(--a);
}

.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    border-radius: 0;
    border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
    color: var(--a);
}

.header-items span {
    font-size: 15px;
}

.header-items i {
    position: relative;
    top: 2px;
    right: 4px;
}

.header-items a:hover {
    color: var(--bishtar);
}

.slide-container {
    border-radius: 0;
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    border-top: none;
    margin-bottom: 15px;
    height: 200px;
}

.slide-container-resize {
    display: flex !important;
    height: max-content !important;
    flex-direction: row !important;
    margin-bottom: 15px !important;
    border: 1px solid var(--main-items-border);
    border-radius: 8px !important;
}

.card-wrapper-resize {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.card {
    width: 110px !important;
    height: 170px !important;
    margin-top: 10px;
    transition: all 0.3s;
    margin-right: 1vh;
    margin-left: 1vh;
}

.card-resize {
    width: 120px !important;
    height: 170px !important;
    margin-top: 10px;
    transition: all 0.3s;
    margin-right: 1vh;
    margin-left: 1vh;
    margin-bottom: 10px;
    justify-content: center;
}

.card:hover {
    box-shadow: 1px 1px 10px 1px rgb(219, 217, 217);
    border-radius: 8px;
    cursor: pointer;
}

.card-resize:hover {
    box-shadow: 1px 1px 10px 1px rgb(219, 217, 217);
    border-radius: 8px;
    cursor: pointer;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
}

.card-content {
    margin-right: 2vh;
}

.card-content-resize {
    margin-right: 2vh !important;
}

.card-image {
    position: relative;
    width: 100px;
    height: 100px;
}

.card-image-resize {
    margin-right: 5px !important;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
}


.name {
    font-family: "YekanBakh-H";
    font-size: 14px;
    font-weight: 900;
    color: var(--des-name);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.des {
    font-family: "YekanBakh-H";
    font-size: 12px;
    font-weight: 900;
    color: var(--des-name);
}

.swiper-button-prev::after {
    position: absolute;
    font-family: swiper-icons;
    box-shadow: 0px 0px 20px 1px rgb(224, 222, 222);
    font-size: 15px !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    background-color: #fff;
    color: var(--a-hover) !important;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    font-weight: 900;
    left: 0;
    z-index: 3;
}

.swiper-button-prev:hover::after {
    color: #000000 !important;
}

.swiper-button-next::after {
    position: absolute;
    font-family: swiper-icons;
    box-shadow: 0px 0px 2px 1px rgb(224, 222, 222);
    font-size: 15px !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    background-color: #fff;
    color: var(--a-hover);
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    font-weight: 900;
    right: 0;
    z-index: 3;
    transition: all 0.3s;
}

.swiper-button-next:hover::after {
    color: #000000 !important;
}

.swiper-button-disabled {
    display: none !important;
}

.be-in-home {
    height: 230px;
}

.be-in-home .card {
    width: 420px !important;
    height: 210px !important;
    transition: all 0.3s;
}

.be-in-home .image-content {
    padding: 0 !important;
}

.be-in-home img {
    width: 420px;
    height: 210px;
    object-fit: cover;
    border-radius: 5px;
}

.be-in-home .card:hover {
    filter: saturate(2);
}

.mainend-items {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 12px;
    margin-bottom: 15px;
}

.mainend-items a {
    margin-top: 5px;
}

.mainend-items a:hover {
    color: var(--bishtar);
}

.disabled {
    /* pointer-events: none; */
    cursor: not-allowed !important;
    opacity: 0.1;
}

.line-a {
    border-right: 1px solid var(--box-shadow);
    border-left: 1px solid var(--box-shadow);
    padding-left: 25px;
    padding-right: 25px;
}

.number {
    cursor: default;
    background-color: #0DA05B;
    border-radius: 5px;
    padding: 5px 14px;
    color: #fff;
    font-family: "YekanBakh";
    font-weight: 800;
    font-size: 18px;
}

.mainend-items a i {
    position: relative;
    top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
}


.height {
    height: 390px;
    overflow: hidden;
}

#height {
    display: none;
}

.height .fa-angle-down {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: var(--fa-angle-down-back);
    box-shadow: 0px 0px 50px 40px var(--fa-angle-down-box);
    bottom: 15px;
    border-radius: 40%;
    color: var(--a);
}

.height .fa-angle-down:hover {
    background-color: var(--fa-angle-down-back-hover);
    box-shadow: 0px 0px 50px 5px var(--fa-angle-down-box-hover);
    color: var(--a-hover);
}

#height:checked~main .main-container .height {
    height: max-content;
}

#height:checked~main .main-container .height .fa-angle-down {
    display: none;
}

#height390px:checked~main .main-container .fa-angle-down {
    display: flex;
}

#height390px:disabled~main .main-container .height {
    height: 390px;
}

.height .fa-angle-up {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: var(--a);
}

.fa-angle-up:hover {
    color: var(--a-hover) !important;
}

.mainend-items p {
    font-size: 18px;
    margin-bottom: 1rem;
    color: var(--a);
}

.mainend-items strong {
    font-size: 20px;
    color: var(--des-name);
}

.mainend-items h2 {
    font-size: 20px;
    color: var(--des-name);
}

/* =================================================================app-container======================================================= */
main.sticky .right-program {}

#moshahede {
    display: none;
}

.program-main-app {
    display: flex;
    justify-content: center;
}

.program-header {
    border: 1px solid var(--main-items-border);
    border-radius: 8px;
    background-color: var(--header-container);
    width: 1080px;
}

.program-app {
    border: 1px solid var(--main-items-border);
    border-radius: 8px;
    background-color: var(--header-container);
    padding: 17px 15px;
    font-size: 15px;
    margin-bottom: 15px;
    color: var(--a);
}

.program-header-item {
    display: flex;
    gap: 20px;
}

.program-header-item i {
    margin-top: 5px;
    color: var(--main-items-border);
}

.program-main {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.right-program {
    display: flex;
    flex-direction: column;
}

.program-container {
    width: 530px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    flex-direction: column;
}

.image-program {
    width: auto;
    height: 100px;
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.image-title {
    line-height: 25px;
    margin-top: 10px;
}

.image-program img {
    width: 120px;
    height: 120px;
}

.image-program h1 {
    font-size: 20px;
    font-weight: 500;
    width: 169px;
}

.image-title p:nth-child(2) {
    display: inline;
}

.image-title p:nth-child(2):hover {
    color: var(--bishtar);
    cursor: pointer;
}

.image-title p:nth-child(3) {
    font-size: 13px;
}

.image-title p:nth-child(3):hover {
    color: var(--bishtar);
    cursor: pointer;
}

.image-program p>a {
    font-size: 13px;
    margin-right: 5px;
    cursor: default;
}

.image-program button {
    font-size: 18px;
    width: 300px !important;
    height: 45px;
    margin-top: 60px;
    background-color: #0DA05B;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-right: 50px;
    transition: all 0.3s;
}

.image-program button:hover {
    background-color: #04854b;
    cursor: pointer;
}

.image-link {
    display: flex;
    gap: 5px;
}

.image-link button {
    width: 100px;
    background-color: #F9FAFD;
    border: none;
    border-radius: 5px;
    padding: 6px;
    transition: all 0.3s;
}

.image-link button:nth-child(3):hover {
    background-color: #f1f5f8;
    cursor: pointer;
}

.image-link p {
    font-size: 16px;
}

.image-link p>i {
    font-size: 12px;
    font-weight: 500;
}

.right-program h2 {
    font-size: 18px;
    font-weight: 500;
    color: var(--a);
    word-spacing: 3px;
}

.program-moshahede {
    height: 25px;
    overflow: hidden;
}

#moshahede:checked~main .program-main .right-program .program-container .program-moshahede {
    height: max-content;
}

#moshahede:checked~main .program-main .right-program .program-container .program-moshahede i:first-child {
    display: none;
}

.program-moshahede i:nth-child(2) {
    display: none;
}

#moshahede:checked~main .program-main .right-program .program-container .program-moshahede i:last-child {
    display: block;
}

.program-moshahede h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.program-moshahede i {
    font-size: 10px;
}

.program-moshahede-header {
    cursor: pointer;
}

.moshahede-head {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid var(--main-items-border);
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.moshahede-head-item {
    display: flex;
    justify-content: space-between;
}

.moshahede-head-item-sub {
    display: flex;
    flex-direction: column;
}

.moshahede-head-item-sub ul li {
    padding: 5px 10px;
    color: var(--bishtar);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    transition: all 0.3s;
}

.moshahede-head-item-sub ul li:hover {
    background-color: #f4f5f7;
}

.moshahede-head-item-sub ul li span {
    cursor: text;
}

.moshahede-head-item-sub-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.moshahede-head-item-sub-btn p {
    font-size: 16px;
    color: var(--a);
    margin-top: 20px;
}

.moshahede-head-item-sub-btn i {
    margin-right: 5px;
    margin-top: 15px;
    transition: all 0.3s;
}

.moshahede-head-item-sub-btn p:hover {
    color: var(--bishtar);
    cursor: pointer;
}

.main-items-size {
    width: 530px !important;
}

.slide-container-size {
    height: 300px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.card-size {
    height: 280px !important;
    margin-top: 5px !important;
}

.card-size img {
    width: 518px !important;
    height: 280px !important;
    border-radius: 8px !important;
    cursor: pointer;
    transition: all 0.3s;
}

.card-size img:hover {
    filter: saturate(1.5);
    box-shadow: 0px 0px 30px 1px rgb(219, 217, 217);
}

.left-program {
    display: flex;
    flex-direction: column;
}

.bottom-border {
    border-bottom: none;
}

.bottom-border p {
    font-size: 18px;
}

.top-border {
    border-top: none;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    height: 175px;
    overflow: hidden;
    overflow-y: scroll !important;
}

.break-words {
    position: relative;
    top: -23px;
}

.break-words ul {
    margin-top: 15px;
}

.break-words ul li {
    margin-right: 20px;
}

.break-words p {
    font-size: 16px;
    margin-bottom: 0.5rem;
    color: var(--a);
}

.break-words strong {
    font-size: 18px;
    color: var(--des-name);
}

.break-words h2 {
    font-size: 20px;
    color: var(--des-name);
}

.darresane-darsad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.darresane-darsad-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.darresane-darsad-item .scroll-back {
    width: 450px;
    height: 10px;
    border-radius: 5px;
    background-color: #F9FAFD;
}

.darresane-darsad-item .scroll-color {
    width: 60%;
    height: 10px;
    border-radius: 5px;
    background-color: #039b56;
}

.darresane-darsad .darresane-darsad-item i {
    font-size: 12px;
}

.darresane-item-resize {
    display: flex;
    margin-bottom: 20px;
    width: 480px;
    border-radius: 5px;
    flex-direction: column;
}

.darresane-item-resize p {
    font-size: 10px;
}

.left-program .header-items button {
    width: 80px;
    background-color: #F9FAFD;
    border: none;
    border-radius: 5px;
    padding: 1px;
}

.left-program .header-items button>i {
    color: #04854b;
    padding: 5px;
}

.darresane-item-resize .darresane-img {
    align-items: center;
}

.darresane-item-resize .darresane-img img {
    width: 40px;
    height: 40px;
}

.darresane-item-resize .darresane-img span {
    position: relative;
    font-size: 14px;
    margin-right: 10px;
    bottom: 15px;
}

.darresane-item-resize-comment {
    display: flex;
    justify-content: space-between;
}

.darresane-item-resize-comment i {
    font-weight: 500;
    font-size: 12px;
    color: #039b56;
}

.darresane-item-resize-comment p {
    font-size: 14px;
}

.center {
    display: flex;
    align-items: center;
}

.btn {
    padding: 5px 120px;
    background-color: #F9FAFD;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: var(--bishtar);
    transition: all 0.3s;
}

.btn:hover {
    background-color: #f1f5f8;
    cursor: pointer;
}

.darresane {
    border-top: none;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    height: max-content;
}

.darresane-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    width: 500px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.darresane-item:hover {
    box-shadow: 0px 0px 30px 1px var(--box-shadow);
}

.darresane-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.darresane-item-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.darresane-item .darresane-item-text h2 {
    font-size: 18px;
    font-weight: 500;
}

.darresane-item .darresane-item-text p {
    font-size: 14px;
    color: var(--des-name);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 430px;
}

/* =================================================================login======================================================= */
.login-main {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.login {
    display: flex;
}

.login-right {
    display: flex;
    flex-direction: column;
    width: calc(1400px / 2);
    height: max-content;
    background-color: var(--footer);
    justify-content: space-between;
    align-items: center;
}

.login-right-head {
    position: absolute;
    top: 0;
    margin-top: 10px;
    right: 100px;
}

.login-right-head a {
    font-size: 14px;
}

.login-right-head a:hover {
    color: var(--bishtar);
}

.login-right-head a>i {
    margin-left: 8px;
    font-size: 10px;
}

.login-right-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin-top: 150px;
}

.login-right-main img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.login-right-main h1 {
    font-size: 35px;
    word-spacing: 5px;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--a);
}

.login-right-main p {
    font-size: 18px;
    color: var(--a);
    margin-bottom: 20px;
}

.login-right-main input {
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--box-shadow-footer);
    margin-bottom: 20px;
}

.login-right-main ::placeholder {
    font-size: 16px;
    color: #000;
}

.login-right-main input:hover {
    border: 1px solid rgb(207, 205, 205);
}

.login-right-main button {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: #F9FAFD;
    font-size: 18px;
    color: #c0c0c0;
    margin-bottom: 35px;
}

hr {
    margin-bottom: 30px;
}

hr::after {
    justify-content: center;
    position: absolute;
    content: "توسعه‌دهنده هستید؟";
    top: 480px;
    color: #747373;
    background-color: #fff;
    margin-right: 100px;
    padding: 0 10px;
    font-size: 15px;
}

.login-right-main button:nth-child(7) {
    border: 1px solid var(--box-shadow-footer) !important;
    background-color: #fff;
    color: #000000;
    margin-bottom: 80px;
}

.login-right-main button:nth-child(7):hover {
    background-color: #FAFAFA;
    cursor: pointer;
}

.login-right-main button:nth-child(8) {
    border: none;
    font-size: 14px;
    background-color: var(--footer);
    color: #000000;
    margin-bottom: 0 !important;
}

.login a {
    cursor: pointer;
    margin-bottom: 24px !important;
}

.login a:hover {
    color: var(--bishtar);
    cursor: pointer;
}

.login-left {
    display: flex;
    width: calc(1400px / 2);
    align-items: center;
}

.login-left img {
    width: 500px;
    height: 350px;
}

/* =================================================================footer======================================================= */
.footer-container {
    width: 100%;
    height: max-content;
    background-color: var(--footer);
    box-shadow: 0 0 10px 6px var(--box-shadow-footer);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-one {
    display: flex;
    gap: 120px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    width: 1080px;
    border-bottom: 1px solid var(--main-items-border);
}

.head-footer {
    width: 630px;
    margin-bottom: 50px;
    color: var(--a);
}

.head-footer h2 {
    font-size: 20px;
}

.footer-download {
    display: flex;
    background: var(--footer);
    border: 1px solid var(--main-items-border);
    width: 430px;
    height: 130px;
    border-radius: 10px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-download img {
    width: 100px;
    height: 100px;
}

.footer-download-logo {
    padding-top: 20px;
    padding-right: 10px;
}

.footer-download-item {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 5px;
    color: var(--a);
}

.footer-download h3 {
    font-size: 18px;
    font-weight: 500;
    word-spacing: 3px;
    line-height: 14px;
    margin-top: 5px;
}

.footer-download p {
    font-size: 14px;
    margin-bottom: 15px;
}

.footer-download button {
    border: 1px solid var(--main-items-border);
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 15px;
    color: #04854b;
    cursor: pointer;
    transition: all 0.3s;
}

.footer-download button:last-child {
    margin-right: 5px;
}

.footer-download button:hover {
    background: #f4f5f7;
}

.footer-two {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 70px;
}

.footer-two ul {
    list-style: none;
    line-height: 2.5;
    transition: all 0.3s;
    font-size: 16px;
}

.footer-two ul li a:hover {
    color: #039b56;
}

.footer-menu-logo {
    position: relative;
    right: 12px;
}

.footer-two img {
    width: 100px;
    height: 130px;
    border: 1px solid var(--main-items-border);
    border-radius: 5px;
    margin: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.footer-two img:hover {
    filter: contrast(1.2);
}

.end {
    width: 100%;
    text-align: center;
    justify-content: center;
    border-top: 1px solid var(--main-items-border);
}

.footer-end {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    gap: 220px;
}

.footer-end ul {
    display: flex;
    list-style: none;
}

.footer-end ul li {
    margin: 15px;
    font-size: 20px;
}

.footer-end p {
    margin: 15px;
    font-size: 14px;
    color: var(--a);
}

.footer-end ul li a:hover {
    color: #000;
}

.footer-hidden {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    background-color: var(--footer);
    text-align: center;
    display: none;
}

.footer-hidden-item {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    cursor: pointer;
}

.footer-hidden a {
    font-size: 25px;
    margin-top: 10px;
    color: var(--a-hover);
}

.fa-dice-four {
    color: var(--des-name);
}

.footer-hidden-item span {
    font-size: 14px;
    color: var(--a);
}